<figcaption>"Days when I wonder why."</figcaption>

<div></div>

<h1>Gavin Rugama</h1>

<a href="http://grgraphics.weebly.com">GR-GRAPHICS</a>

  <p>
  Hello there! My name is Gavin Rugama and I am 19 years old. I was born on March 22nd, 
  1999. I have lived in Windsor for twelve years, the other seven years I lived out in the E
  ssex. I currently live at home with my large family of six. Currently I am a graphic design s
  tudent, attending St. Clair College Centre for the Arts. I previously graduated from F.J. 
  Brennan high school in 2017 and was fortunate enough to be an honour roll student. I currently 
  do part time work at Mr.Meat Market. On my spare time I enjoy playing video games, hanging out 
  with family and friends, watch movies, watch t.v. shows, listen to music, and read manga. I'm hoping 
  that after graduating from college that I won't have to move out of Windsor to find work as I have p
  retty much lived here and developed a whole life here.
</p>
                
 </div>